@model List<WebApplication10.Models.Product>

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" />
    <title>Форма</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
<div class="main" >

<h2>Список продуктів</h2>
 <div class="list">
<ul >
    @foreach (var product in Model)
    {
        <li>@product.ID. @product.Name – @product.Price.ToString("C") (@product.CreatedDate)</li>
    }
</ul>
        </div>
<h2>Таблиця продуктів</h2>

<table>
    <thead >
        <div>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created Date</th>
        </tr>
</thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.CreatedDate</td>
            </tr>
        }
    </tbody>
</table>
    </div>
 
</body>
</html>